.main-content {
  color: #5F5F5F;
  margin: 50px 0;
  padding: 40px 0;
  border: 2px solid #E0E0E0;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: rgba(255,255,255,.3) 0 0 6px;
}


.plus-button {
  margin-top: 40px;
  background-image: url("../img/plus_icon1.png");
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  display: inline-block;
}

.plus-button:hover {
  background-image: url("../img/plus_hover_icon.png");
  width: 48px;
  height: 48px;
}